/**
 * Basic typography style for copy text
 */

body {
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 1.5;
  color: $color-grey-dark;
}

.heading-primary {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: $color-primary;
}

p {
  text-align: justify;
  margin: 2rem auto;
}
