// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// COLORS

// Primary
$color-primary: #002868;
$color-primary-light: #405097;
$color-primary-dark: #00003d;

// Secondary
$color-secondary: #BF0A30;
$color-secondary-light: #f85059;
$color-secondary-dark: #87000a;

// Tertiary
$color-tertiary: #FFEB3B;
$color-tertiary-light: #ffff72;
$color-tertiary-dark: #c8b900;

// Light Colors on Dark
$color-on-dark: #eee;
$color-on-dark-alt: #f7f7f7;

// Grey Colors
$color-grey: #777;
$color-grey-light: #999;
$color-grey-dark: #333;


// FONT
$default-font-size: 1.6rem;

// BORDER RADIUS
$default-border-radius: 3px;
