// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// COLORS
$color-primary: #002868;
$color-primary-light: #003282;
$color-primary-dark: #002053;

$color-secondary: #BF0A30;
$color-secondary-light: #ef0d3c;
$color-secondary-dark: #990826;

$color-tertiary: #ffd797;
$color-tertiary-light: #ffd797;
$color-tertiary-dark: #ffb846;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// BORDER RADIUS
$default-border-radius: 3px;
